.irs {
  &--round {
    .irs-bar {
      height: 2px;
      background: $c-red;
      top: 38px;
    }
    .irs-line {
      height: 2px;
      top: 38px;
      background: $range-gray;
    }
    .irs-handle {
      border: 0;
      box-shadow: none;
      width: 12px;
      height: 12px;
      background: $c-red;
      top: 32.5px;
      cursor: pointer;
      &:hover,
      &.state_hover {
        background: $c-red;
      }
    }
  }
}
