.bg-show_ic_black {
  width: 22px;
  height: 16px;
  background: url('../img/icons/show-ic-sprite.png') -10px -10px;
}
.bg-show_ic_red {
  width: 22px;
  height: 16px;
  background: url('../img/icons/show-ic-sprite.png') -52px -10px;
}
.bg-download_ic_black {
  width: 18px;
  height: 18px;
  background: url('../img/icons/download-ic-sprite.png') -10px -10px;
}
.bg-download_ic_red {
  width: 18px;
  height: 18px;
  background: url('../img/icons/download-ic-sprite.png') -48px -10px;
}
