<% var data = { title: "О компании" }; %> <%= _.template(require('./../includes/header.html').default)(data) %>
<div class="inner-page pb-0">
  <section class="breadcrumbs-wrapper">
    <div class="container">
      <nav class="breadcrumbs">
        <ul class="d-flex">
          <li>
            <a href="index.html">Главная</a>
          </li>
          <li>
            <a href="about.html" class="active">О компании</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="about-wrapper">
    <div class="container">
      <h3 class="inner-page__title">О компании <span class="red-text">ERA</span> Group</h3>
      <div class="tabs about-tabs pb-0">
        <ul class="tabs-nav">
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="about.html">О компании</a></li>
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="about-history.html">История</a></li>
          <li class="tabs-nav__item active"><a class="tabs-nav__link" href="about-faces.html">Лица</a></li>
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="about-vacancies.html">Вакансии</a></li>
        </ul>
        <div class="tabs-content">
          <p class="about-tabs__text">
            ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми марками
            ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств и&nbsp;комплектующих,
            в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители и&nbsp;воздуховоды.
            В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых на&nbsp;постсоветском
            пространстве компаний по&nbsp;производству систем вентиляции.
          </p>

          <div class="faces d-flex flex-wrap">
            <div class="faces__item">
              <div class="face">
                <div class="face__image">
                  <img src="img/about-page/face-example.jpg" alt="" />
                </div>
                <div class="face__title">
                  <b>Директор Директорович Директоров</b>
                </div>
                <div class="face__position">Генеральный директор ERA Group</div>
                <p class="face__text">
                  <i>«Моя компания — моя жизнь!» ERA Group — один из лидеров в производстве вентиляционных систем.</i>
                </p>
              </div>
            </div>
            <div class="faces__item">
              <div class="face">
                <div class="face__image">
                  <img src="img/about-page/face-example.jpg" alt="" />
                </div>
                <div class="face__title">
                  <b>Директор Директорович Директоров</b>
                </div>
                <div class="face__position">Генеральный директор ERA Group</div>
                <p class="face__text">
                  <i>«Моя компания — моя жизнь!» ERA Group — один из лидеров в производстве вентиляционных систем.</i>
                </p>
              </div>
            </div>
            <div class="faces__item">
              <div class="face">
                <div class="face__image">
                  <img src="img/about-page/face-example.jpg" alt="" />
                </div>
                <div class="face__title">
                  <b>Директор Директорович Директоров</b>
                </div>
                <div class="face__position">Генеральный директор ERA Group</div>
                <p class="face__text">
                  <i>«Моя компания — моя жизнь!» ERA Group — один из лидеров в производстве вентиляционных систем.</i>
                </p>
              </div>
            </div>
            <div class="faces__item">
              <div class="face">
                <div class="face__image">
                  <img src="img/about-page/face-example.jpg" alt="" />
                </div>
                <div class="face__title">
                  <b>Директор Директорович Директоров</b>
                </div>
                <div class="face__position">Генеральный директор ERA Group</div>
                <p class="face__text">
                  <i>«Моя компания — моя жизнь!» ERA Group — один из лидеров в производстве вентиляционных систем.</i>
                </p>
              </div>
            </div>
            <div class="faces__item">
              <div class="face">
                <div class="face__image">
                  <img src="img/about-page/face-example.jpg" alt="" />
                </div>
                <div class="face__title">
                  <b>Директор Директорович Директоров</b>
                </div>
                <div class="face__position">Генеральный директор ERA Group</div>
                <p class="face__text">
                  <i>«Моя компания — моя жизнь!» ERA Group — один из лидеров в производстве вентиляционных систем.</i>
                </p>
              </div>
            </div>
            <div class="faces__item">
              <div class="face">
                <div class="face__image">
                  <img src="img/about-page/face-example.jpg" alt="" />
                </div>
                <div class="face__title">
                  <b>Директор Директорович Директоров</b>
                </div>
                <div class="face__position">Генеральный директор ERA Group</div>
                <p class="face__text">
                  <i>«Моя компания — моя жизнь!» ERA Group — один из лидеров в производстве вентиляционных систем.</i>
                </p>
              </div>
            </div>
            <div class="faces__item">
              <div class="face">
                <div class="face__image">
                  <img src="img/about-page/face-example.jpg" alt="" />
                </div>
                <div class="face__title">
                  <b>Директор Директорович Директоров</b>
                </div>
                <div class="face__position">Генеральный директор ERA Group</div>
                <p class="face__text">
                  <i>«Моя компания — моя жизнь!» ERA Group — один из лидеров в производстве вентиляционных систем.</i>
                </p>
              </div>
            </div>
            <div class="faces__item">
              <div class="face">
                <div class="face__image">
                  <img src="img/about-page/face-example.jpg" alt="" />
                </div>
                <div class="face__title">
                  <b>Директор Директорович Директоров</b>
                </div>
                <div class="face__position">Генеральный директор ERA Group</div>
                <p class="face__text">
                  <i>«Моя компания — моя жизнь!» ERA Group — один из лидеров в производстве вентиляционных систем.</i>
                </p>
              </div>
            </div>
            <div class="faces__btn d-flex j-c-center">
              <a href="#" class="btn btn-red">Стать частью команды <b>ERA</b> Group</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= _.template(require('./../includes/section-contact.html').default)(data) %>
</div>
<%= _.template(require('./../includes/section-news.html').default)(data) %> <%=
_.template(require('./../includes/footer.html').default)(data) %>
