<% var data = { title: "О компании" }; %> <%= _.template(require('./../includes/header.html').default)(data) %>
<div class="inner-page pb-0">
  <section class="breadcrumbs-wrapper">
    <div class="container">
      <nav class="breadcrumbs">
        <ul class="d-flex">
          <li>
            <a href="index.html">Главная</a>
          </li>
          <li>
            <a href="about.html" class="active">О компании</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="about-wrapper">
    <div class="container">
      <h3 class="inner-page__title">О компании <span class="red-text">ERA</span> Group</h3>
      <div class="tabs about-tabs pb-0">
        <ul class="tabs-nav">
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="about.html">О компании</a></li>
          <li class="tabs-nav__item active"><a class="tabs-nav__link" href="about-history.html">История</a></li>
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="about-faces.html">Лица</a></li>
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="about-vacancies.html">Вакансии</a></li>
        </ul>
        <div class="tabs-content">
          <p class="about-tabs__text">
            ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми марками
            ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств и&nbsp;комплектующих,
            в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители и&nbsp;воздуховоды.
            В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых на&nbsp;постсоветском
            пространстве компаний по&nbsp;производству систем вентиляции.
          </p>

          <div class="us-mission d-flex flex-wrap j-c-center">
            <h6 class="us-mission__title">
              <b>Миссия и ценности <span class="red-text">ERA</span> Group</b>
            </h6>
            <p class="us-mission__text">
              <b>Миссия</b>&nbsp;&mdash; создание здоровой и&nbsp;комфортной среды для жизни. <br />
              <b>Ценности</b>&nbsp;&mdash; для нас важен комфорт:
            </p>
            <div class="us-mission__item">
              <p><b>Потребителей</b></p>
              <span>Поэтому мы предлагаем максимально широкийассортимент, отвечающий запросам клиентов</span>
            </div>
            <div class="us-mission__item">
              <p><b>Партнеров</b></p>
              <span>Поэтому мы&nbsp;выстроили четкую и&nbsp;понятную систему сотрудничества</span>
            </div>
            <div class="us-mission__item">
              <p><b>Сотрудников</b></p>
              <span
                >Поэтому мы&nbsp;гарантируем социальную ответственность, стабильный высокий доход и&nbsp;благоприятную
                рабочую</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section history-wrapper">
    <div class="history-banner">
      <div class="history-banner__layer"></div>
    </div>
    <div class="container">
      <div class="tabs js-tabs history-tabs">
        <ul class="d-flex history-tabs__list">
          <li><a href="#tab-1">1997</a></li>
          <li><a href="#tab-2">2006</a></li>
          <li><a href="#tab-3">2009</a></li>
          <li><a href="#tab-4">2012</a></li>
          <li><a href="#tab-5">2014</a></li>
          <li><a href="#tab-6">2016</a></li>
          <li><a href="#tab-7">2018</a></li>
          <li><a href="#tab-8">2020</a></li>
        </ul>
        <div id="tab-1" class="history-tabs__content">
          <div class="history-tabs__content-inner d-flex a-i-start">
            <div class="date"><b>1997</b></div>
            <div class="content">
              <p>
                История становления компании берет свое начало в&nbsp;1997&nbsp;году. Изначально основным направлением
                работы было производство систем модульной вентиляции.
              </p>
              <p>
                ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми
                марками ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств
                и&nbsp;комплектующих, в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители
                и&nbsp;воздуховоды.
              </p>
              <p>
                В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых
                на&nbsp;постсоветском пространстве компаний по&nbsp;производству систем вентиляции.
              </p>
              <ul class="d-flex j-c-between">
                <li>
                  <span><b>15</b></span>
                  <p>Наименований — <br />ассортимент <br /><b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>8000</b></span>
                  <p>Штук изделий — <br />реализация<b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>20</b></span>
                  <p>Профессионалов — <br />штат<b class="red-text">ERA</b> Group</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="tab-2" class="history-tabs__content">
          <div class="history-tabs__content-inner d-flex a-i-start">
            <div class="date"><b>2006</b></div>
            <div class="content">
              <p>
                История становления компании берет свое начало в&nbsp;1997&nbsp;году. Изначально основным направлением
                работы было производство систем модульной вентиляции.
              </p>
              <p>
                ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми
                марками ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств
                и&nbsp;комплектующих, в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители
                и&nbsp;воздуховоды.
              </p>
              <p>
                В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых
                на&nbsp;постсоветском пространстве компаний по&nbsp;производству систем вентиляции.
              </p>
              <ul class="d-flex j-c-between">
                <li>
                  <span><b>15</b></span>
                  <p>Наименований — <br />ассортимент <br /><b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>8000</b></span>
                  <p>Штук изделий — <br />реализация<b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>20</b></span>
                  <p>Профессионалов — <br />штат<b class="red-text">ERA</b> Group</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="tab-3" class="history-tabs__content">
          <div class="history-tabs__content-inner d-flex a-i-start">
            <div class="date"><b>2009</b></div>
            <div class="content">
              <p>
                История становления компании берет свое начало в&nbsp;1997&nbsp;году. Изначально основным направлением
                работы было производство систем модульной вентиляции.
              </p>
              <p>
                ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми
                марками ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств
                и&nbsp;комплектующих, в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители
                и&nbsp;воздуховоды.
              </p>
              <p>
                В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых
                на&nbsp;постсоветском пространстве компаний по&nbsp;производству систем вентиляции.
              </p>
              <ul class="d-flex j-c-between">
                <li>
                  <span><b>15</b></span>
                  <p>Наименований — <br />ассортимент <br /><b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>8000</b></span>
                  <p>Штук изделий — <br />реализация<b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>20</b></span>
                  <p>Профессионалов — <br />штат<b class="red-text">ERA</b> Group</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="tab-4" class="history-tabs__content">
          <div class="history-tabs__content-inner d-flex a-i-start">
            <div class="date"><b>2012</b></div>
            <div class="content">
              <p>
                История становления компании берет свое начало в&nbsp;1997&nbsp;году. Изначально основным направлением
                работы было производство систем модульной вентиляции.
              </p>
              <p>
                ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми
                марками ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств
                и&nbsp;комплектующих, в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители
                и&nbsp;воздуховоды.
              </p>
              <p>
                В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых
                на&nbsp;постсоветском пространстве компаний по&nbsp;производству систем вентиляции.
              </p>
              <ul class="d-flex j-c-between">
                <li>
                  <span><b>15</b></span>
                  <p>Наименований — <br />ассортимент <br /><b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>8000</b></span>
                  <p>Штук изделий — <br />реализация<b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>20</b></span>
                  <p>Профессионалов — <br />штат<b class="red-text">ERA</b> Group</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="tab-5" class="history-tabs__content">
          <div class="history-tabs__content-inner d-flex a-i-start">
            <div class="date"><b>2014</b></div>
            <div class="content">
              <p>
                История становления компании берет свое начало в&nbsp;1997&nbsp;году. Изначально основным направлением
                работы было производство систем модульной вентиляции.
              </p>
              <p>
                ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми
                марками ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств
                и&nbsp;комплектующих, в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители
                и&nbsp;воздуховоды.
              </p>
              <p>
                В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых
                на&nbsp;постсоветском пространстве компаний по&nbsp;производству систем вентиляции.
              </p>
              <ul class="d-flex j-c-between">
                <li>
                  <span><b>15</b></span>
                  <p>Наименований — <br />ассортимент <br /><b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>8000</b></span>
                  <p>Штук изделий — <br />реализация<b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>20</b></span>
                  <p>Профессионалов — <br />штат<b class="red-text">ERA</b> Group</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="tab-6" class="history-tabs__content">
          <div class="history-tabs__content-inner d-flex a-i-start">
            <div class="date"><b>2016</b></div>
            <div class="content">
              <p>
                История становления компании берет свое начало в&nbsp;1997&nbsp;году. Изначально основным направлением
                работы было производство систем модульной вентиляции.
              </p>
              <p>
                ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми
                марками ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств
                и&nbsp;комплектующих, в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители
                и&nbsp;воздуховоды.
              </p>
              <p>
                В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых
                на&nbsp;постсоветском пространстве компаний по&nbsp;производству систем вентиляции.
              </p>
              <ul class="d-flex j-c-between">
                <li>
                  <span><b>15</b></span>
                  <p>Наименований — <br />ассортимент <br /><b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>8000</b></span>
                  <p>Штук изделий — <br />реализация<b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>20</b></span>
                  <p>Профессионалов — <br />штат<b class="red-text">ERA</b> Group</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="tab-7" class="history-tabs__content">
          <div class="history-tabs__content-inner d-flex a-i-start">
            <div class="date"><b>2018</b></div>
            <div class="content">
              <p>
                История становления компании берет свое начало в&nbsp;1997&nbsp;году. Изначально основным направлением
                работы было производство систем модульной вентиляции.
              </p>
              <p>
                ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми
                марками ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств
                и&nbsp;комплектующих, в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители
                и&nbsp;воздуховоды.
              </p>
              <p>
                В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых
                на&nbsp;постсоветском пространстве компаний по&nbsp;производству систем вентиляции.
              </p>
              <ul class="d-flex j-c-between">
                <li>
                  <span><b>15</b></span>
                  <p>Наименований — <br />ассортимент <br /><b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>8000</b></span>
                  <p>Штук изделий — <br />реализация<b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>20</b></span>
                  <p>Профессионалов — <br />штат<b class="red-text">ERA</b> Group</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="tab-8" class="history-tabs__content">
          <div class="history-tabs__content-inner d-flex a-i-start">
            <div class="date"><b>2020</b></div>
            <div class="content">
              <p>
                История становления компании берет свое начало в&nbsp;1997&nbsp;году. Изначально основным направлением
                работы было производство систем модульной вентиляции.
              </p>
              <p>
                ERA Group&nbsp;&mdash; один из&nbsp;лидеров в&nbsp;производстве вентиляционных систем. Под торговыми
                марками ERA, DICITI, EVECS и&nbsp;AURAMAX выпускается весь спектр вентиляционных устройств
                и&nbsp;комплектующих, в&nbsp;том числе бытовые и&nbsp;коммерческие вентиляторы, воздухораспределители
                и&nbsp;воздуховоды.
              </p>
              <p>
                В&nbsp;Рязани было образовано ООО &laquo;ЭКОВЕНТ&raquo;. Это была одна из&nbsp;первых
                на&nbsp;постсоветском пространстве компаний по&nbsp;производству систем вентиляции.
              </p>
              <ul class="d-flex j-c-between">
                <li>
                  <span><b>15</b></span>
                  <p>Наименований — <br />ассортимент <br /><b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>8000</b></span>
                  <p>Штук изделий — <br />реализация<b class="red-text">ERA</b> Group</p>
                </li>
                <li>
                  <span><b>20</b></span>
                  <p>Профессионалов — <br />штат<b class="red-text">ERA</b> Group</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex j-c-center">
        <a href="#" class="btn btn-red history-btn">Связаться с <b>ERA</b> Group</a>
      </div>
    </div>
  </section>
  <%= _.template(require('./../includes/section-contact.html').default)(data) %>
</div>
<%= _.template(require('./../includes/section-news.html').default)(data) %> <%=
_.template(require('./../includes/footer.html').default)(data) %>
