<% var data = { title: "Каталог" }; %> <%= _.template(require('./../includes/header.html').default)(data) %>
<div class="inner-page pb-0">
  <section class="breadcrumbs-wrapper">
    <div class="container">
      <nav class="breadcrumbs">
        <ul class="d-flex">
          <li>
            <a href="index.html">Главная</a>
          </li>
          <li>
            <a href="catalog.html">Каталог</a>
          </li>
          <li>
            <a href="#">Auramax</a>
          </li>
          <li>
            <a href="#">Бытовые вентиляторы</a>
          </li>
          <li>
            <a href="#">Накладные</a>
          </li>
          <li>
            <a href="about.html" class="active">Накладной вентилятор ERA 4S</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="detailed-product-wrapper">
    <div class="container">
      <h3 class="inner-page__title">Накладной вентилятор ERA 4S</h3>

      <div class="detailed-product-row">
        <div class="ddetailed-product-row__left">
          <div class="detailed-product-slider">
            <div>
              <div class="detailed-product-slider__item">
                <img src="img/detailed-product/logo.png" class="detailed-product-slider__logo" alt="" />
                <a href="img/detailed-product/product.png" data-lightbox="image-1">
                  <img src="img/detailed-product/product.png" class="detailed-product-slider__image" alt="" />
                </a>
              </div>
            </div>
            <div>
              <div class="detailed-product-slider__item">
                <img src="img/detailed-product/logo.png" class="detailed-product-slider__logo" alt="" />
                <a href="img/detailed-product/product.png" data-lightbox="image-1">
                  <img src="img/detailed-product/product.png" class="detailed-product-slider__image" alt="" />
                </a>
              </div>
            </div>
            <div>
              <div class="detailed-product-slider__item">
                <img src="img/detailed-product/logo.png" class="detailed-product-slider__logo" alt="" />
                <a href="img/detailed-product/product.png" data-lightbox="image-1">
                  <img src="img/detailed-product/product.png" class="detailed-product-slider__image" alt="" />
                </a>
              </div>
            </div>
            <div>
              <div class="detailed-product-slider__item">
                <img src="img/detailed-product/logo.png" class="detailed-product-slider__logo" alt="" />
                <a href="img/detailed-product/product.png" data-lightbox="image-1">
                  <img src="img/detailed-product/product.png" class="detailed-product-slider__image" alt="" />
                </a>
              </div>
            </div>
            <div>
              <div class="detailed-product-slider__item">
                <img src="img/detailed-product/logo.png" class="detailed-product-slider__logo" alt="" />
                <a href="img/detailed-product/product.png" data-lightbox="image-1">
                  <img src="img/detailed-product/product.png" class="detailed-product-slider__image" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="detailed-product-slider__nav">
            <div class="detailed-product-slider-nav">
              <div>
                <div class="detailed-product-slider-nav__item">
                  <img src="img/detailed-product/product.png" alt="" />
                </div>
              </div>
              <div>
                <div class="detailed-product-slider-nav__item">
                  <img src="img/detailed-product/product.png" alt="" />
                </div>
              </div>
              <div>
                <div class="detailed-product-slider-nav__item">
                  <img src="img/detailed-product/product.png" alt="" />
                </div>
              </div>
              <div>
                <div class="detailed-product-slider-nav__item">
                  <img src="img/detailed-product/product.png" alt="" />
                </div>
              </div>
              <div>
                <div class="detailed-product-slider-nav__item">
                  <img src="img/detailed-product/product.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="detailed-product-row__right">
          <div class="detailed-product">
            <p class="detailed-product__articul">Артикул: <span>155580871</span></p>
            <div class="detailed-product-options d-flex flex-wrap">
              <div class="detailed-product-options__item">
                <h6><b>Конструктивные особенности</b></h6>
                <div class="detailed-product-option d-flex a-i-center">
                  <div class="detailed-product-option__icon">
                    <img src="img/detailed-product/icon-1.png" alt="" />
                  </div>
                  Термопластический и ударопрочный
                </div>
                <div class="detailed-product-option d-flex a-i-center">
                  <div class="detailed-product-option__icon">
                    <img src="img/detailed-product/icon-2.png" alt="" />
                  </div>
                  В 2 раза меньше потребление электричества
                </div>
                <div class="detailed-product-option d-flex a-i-center">
                  <div class="detailed-product-option__icon">
                    <img src="img/detailed-product/icon-3.png" alt="" />
                  </div>
                  Световая индикация
                </div>
                <div class="detailed-product-option d-flex a-i-center">
                  <div class="detailed-product-option__icon">
                    <img src="img/detailed-product/icon-4.png" alt="" />
                  </div>
                  Двигатель на подшипниках качения
                </div>
                <div class="detailed-product-option d-flex a-i-center">
                  <div class="detailed-product-option__icon">
                    <img src="img/detailed-product/icon-5.png" alt="" />
                  </div>
                  Гарантия 5 лет
                </div>
              </div>
              <div class="detailed-product-options__item">
                <h6><b>Дополнительные особенности</b></h6>
                <div class="detailed-product-option d-flex a-i-center">
                  <div class="detailed-product-option__icon">
                    <img src="img/detailed-product/icon-1.png" alt="" />
                  </div>
                  Термопластический и ударопрочный
                </div>
                <div class="detailed-product-option d-flex a-i-center">
                  <div class="detailed-product-option__icon">
                    <img src="img/detailed-product/icon-2.png" alt="" />
                  </div>
                  В 2 раза меньше потребление электричества
                </div>
                <div class="detailed-product-option d-flex a-i-center">
                  <div class="detailed-product-option__icon">
                    <img src="img/detailed-product/icon-3.png" alt="" />
                  </div>
                  Световая индикация
                </div>
                <div class="detailed-product-option d-flex a-i-center">
                  <div class="detailed-product-option__icon">
                    <img src="img/detailed-product/icon-6.png" alt="" />
                  </div>
                  Двигатель на подшипниках качения
                </div>
              </div>
            </div>
            <div class="detailed-product__footer d-flex a-i-center">
              <div class="detailed-product__links">
                <p>Все опции товара</p>
                <a href="#" class="blue-link">Где купить?</a>
                <a href="#" class="blue-link">Информация для дилеров</a>
              </div>
              <div class="detailed-product__price">
                <span>Рекомендованная цена</span>
                <p><b>12 500</b> ₽</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tabs js-tabs detailed-product-tabs pb-0">
        <ul class="tabs-nav">
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="#tab-1">Описание</a></li>
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="#tab-2">Характеристики</a></li>
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="#tab-3">Документация и инструкции</a></li>
          <li class="tabs-nav__item"><a class="tabs-nav__link" href="#tab-4">Видео</a></li>
        </ul>
        <div id="tab-1" class="detailed-product-tabs__content">
          <div class="detailed-product-description">
            <p>
              В моделях с опцией С идет слюдовой обратный клапан BV. В остальных его можно установить, для ERA4 и ERA5
              также подходит клапан ОК (в этом случае BV или ОК приобретается отдельно). <br /><br />
              Помимо обратного клапана вентиляторы серии ERA имеют широкий выбор опций: антимоскитная сетка, тяговый
              выключатель, таймер, фототаймер, датчик влажности. Помимо этого, у ERA4 и ERA5 есть световая индикация.
              Поэтому в серии ERA каждый может найти себе модель по потребностям. <br /><br />
              Для постоянной или периодической вытяжной вентиляции санузлов, душевых, кухонь и других бытовых помещений.
              <br /><br />
              Крепление к месту монтажа осуществляется при помощи шурупов. <br /><br />
              Лицевая панель моделей ERA4 и ERA5 оснащена световой индикацией работы вентилятора. <br /><br />
              Для моделей ERA4 и ERA5 возможна установка клапана серии ОК с пружинным механизмом для защиты от обратной
              тяги (обратный клапан серии ОК приобретается отдельно). <br /><br />
              Модели ERA4 и ERA5 имеют широкий выбор опций. Степень защиты оболочки электрооборудования от проникновения
              твердых предметов и воды — IP24.
            </p>
          </div>
        </div>
        <div id="tab-2" class="detailed-product-tabs__content">
          <div class="detailed-product-characteristics d-flex flex-wrap">
            <div class="detailed-product-characteristics__item">
              <ul>
                <li>
                  <span>Тип</span>
                  <span>Вентилятор</span>
                </li>
                <li>
                  <span>Мощность, Вт</span>
                  <span>16</span>
                </li>
                <li>
                  <span>Макс. уровень шума, дБ</span>
                  <span>33</span>
                </li>
                <li>
                  <span>Установка</span>
                  <span>Накладная</span>
                </li>
                <li>
                  <span>Бренд</span>
                  <span>AURAMAX</span>
                </li>
                <li>
                  <span>Размеры, мм</span>
                  <span>180х180х12</span>
                </li>
                <li>
                  <span>Гарантия</span>
                  <span>5 лет</span>
                </li>
                <li class="hidden">
                  <span>lorem ipsum</span>
                  <span>lorem</span>
                </li>
              </ul>
            </div>
            <div class="detailed-product-characteristics__item">
              <ul>
                <li>
                  <span>Тип</span>
                  <span>Вентилятор</span>
                </li>
                <li>
                  <span>Мощность, Вт</span>
                  <span>16</span>
                </li>
                <li>
                  <span>Макс. уровень шума, дБ</span>
                  <span>33</span>
                </li>
                <li>
                  <span>Установка</span>
                  <span>Накладная</span>
                </li>
                <li>
                  <span>Бренд</span>
                  <span>AURAMAX</span>
                </li>
                <li>
                  <span>Размеры, мм</span>
                  <span>180х180х12</span>
                </li>
                <li>
                  <span>Гарантия</span>
                  <span>5 лет</span>
                </li>
                <li class="hidden">
                  <span>lorem ipsum</span>
                  <span>lorem</span>
                </li>
              </ul>
            </div>
          </div>
          <span class="detailed-product-characteristics_more">Все характеристики</span>
        </div>
        <div id="tab-3" class="detailed-product-tabs__content">
          <div class="detailed-product-document d-flex">
            <div class="detailed-product-document__text">
              <h6><b>Сертификат на материалы</b></h6>
              <p>
                ERA Group — один из лидеров в производстве вентиляционных систем. Под торговыми марками ERA, DICITI,
                EVECS и AURAMAX выпускается весь спектр
              </p>
            </div>
            <div class="detailed-product-document__links d-flex">
              <a href="#">
                <div class="icon static bg-show_ic_black"></div>
                <div class="icon hover bg-show_ic_red"></div>
              </a>
              <a href="#">
                <div class="icon static bg-download_ic_black"></div>
                <div class="icon hover bg-download_ic_red"></div>
              </a>
            </div>
          </div>
          <div class="detailed-product-document d-flex">
            <div class="detailed-product-document__text">
              <h6><b>Сертификат на материалы</b></h6>
              <p>
                ERA Group — один из лидеров в производстве вентиляционных систем. Под торговыми марками ERA, DICITI,
                EVECS и AURAMAX выпускается весь спектр
              </p>
            </div>
            <div class="detailed-product-document__links d-flex">
              <a href="#">
                <div class="icon static bg-show_ic_black"></div>
                <div class="icon hover bg-show_ic_red"></div>
              </a>
              <a href="#">
                <div class="icon static bg-download_ic_black"></div>
                <div class="icon hover bg-download_ic_red"></div>
              </a>
            </div>
          </div>
          <div class="detailed-product-document d-flex">
            <div class="detailed-product-document__text">
              <h6><b>Сертификат на материалы</b></h6>
              <p>
                ERA Group — один из лидеров в производстве вентиляционных систем. Под торговыми марками ERA, DICITI,
                EVECS и AURAMAX выпускается весь спектр
              </p>
            </div>
            <div class="detailed-product-document__links d-flex">
              <a href="#">
                <div class="icon static bg-show_ic_black"></div>
                <div class="icon hover bg-show_ic_red"></div>
              </a>
              <a href="#">
                <div class="icon static bg-download_ic_black"></div>
                <div class="icon hover bg-download_ic_red"></div>
              </a>
            </div>
          </div>
        </div>
        <div id="tab-4" class="detailed-product-tabs__content">4</div>
      </div>

      <div class="catalog-products">
        <h5 class="catalog-products__title"><b>Модельный ряд</b></h5>

        <div class="catalog-products-slider slider slider--dots-black">
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="catalog-products">
        <h5 class="catalog-products__title"><b>Похожие товары</b></h5>

        <div class="catalog-products-slider slider slider--dots-black">
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
          <div>
            <div class="catalog-product">
              <div class="catalog-product__image">
                <img src="img/catalog-page/product-pic.png" alt="" />
              </div>
              <div class="catalog-product__body">
                <a href="#" class="catalog-product__title">
                  <b>Накладные вентиляторы AURA</b>
                </a>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Конструктивные опции</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <div class="catalog-product__options d-flex a-i-center flex-wrap">
                  <div class="catalog-product__options-title">Дополнительно</div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                  <div class="catalog-product__options-item">
                    <img src="img/catalog-page/icon-1.png" alt="" />
                  </div>
                </div>
                <a href="#" class="btn btn-red">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="detailed-products-tags">
        <h5><b>Подборки товаров в категории Вентиляторы</b></h5>
        <div class="tags">
          <a href="#" class="tags__item active">Белые</a>
          <a href="#" class="tags__item active">Дизайнерские</a>
          <a href="#" class="tags__item active">Недорогие</a>
          <a href="#" class="tags__item active">Товары марки Auramax</a>
        </div>
      </div>
    </div>
  </section>
</div>
<%= _.template(require('./../includes/section-news.html').default)(data) %> <%=
_.template(require('./../includes/footer.html').default)(data) %>
